@charset "UTF-8";

/*Todas as demais mídias*/

/* Mobile devices – 320px — 480px.
  iPads, Tablets – 481px — 768px.
  Small screens, laptops – 769px — 1024px.
  Desktops, large screens – 1025px — 1200px.
  Extra large screens, TV – 1201px, and more.
*/

@media print {
    * {
        font-family:  'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /*desnecessário*/
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#fone {display: none;}
    img#table {display: none;}
    img#impre {display: block;}
    img#pece {display: none;}
    img#tive {display: none;}
}

@media screen and (min-width: 769px) and  (max-width: 1024px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#fone {display: none;}
    img#table {display: block;}
    img#impre {display: none;}
    img#pece {display: none;}
    img#tive {display: none;}

}

@media screen and (min-width: 1025px) and  (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#fone {display: none;}
    img#table {display: none;}
    img#impre {display: none;}
    img#pece {display: block;}
    img#tive {display: none;}
    
}

@media screen and (min-width: 1200px) {
    body {
            background-image: url(../imagens/back-tv.jpg);
    }

    img#fone {display: none;}
    img#table {display: none;}
    img#impre {display: none;}
    img#pece {display: none;}
    img#tive {display: block;}
}