@charset "UTF-8";


@font-face {
    font-family: 'idroid';
    src: url('idroid.otf') format(opentype);
    }
@font-face {
    font-family: 'jp';
    src: url(Android\ Scratch.ttf) format(truetype);
}    

body {
    background-color: rgb(136, 255, 196);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    
}
header 
    {
      background-image: linear-gradient(rgb(60, 204, 120), rgb(13, 87, 25));
      text-align: center;
      padding: 0.5em;
      font-weight: normal;
      font-style: normal;
      font-family: 'Times New Roman', Times, serif;
      
      
     
    
      
    }
    header > p {
        text-align: center;
        font-weight: lighter;
        padding: 10px;
    }
   

nav {
    text-align: left;
    
}

nav > a {
    margin-right: 5px;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    padding: 0em;
    margin: 11px;
}

main > p > a {
    color: rgb(255, 255, 255);

}

div {
    text-align: center;
}

section {
    background-color: rgb(255, 255, 255);
    margin: 120px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    
}

.bb {
   
}

article {
    background-color: rgb(137, 194, 137);
    border-radius: 25px;
    padding: 15px;
    font-size: 1.1em;
}

ul {
    text-align: left;
    text-decoration: underline;
    margin: 30px;
    padding: 10px;
}


div#video {
    background-color: rgb(0, 39, 0);
}


footer {
   
    
    
}

p {
    margin: 30px;
    text-align: justify;

    
}

h1 {
    font-size: 3em;
    color: white;
    font-family: 'jp', sans-serif;
    
    
    
}

header > p {
    color: white;
}

h2 {
    margin: 10px;
    background-color: ;
    background-image: linear-gradient(to right, #CAFAA5, #aeee9e, white);
    color:#142e0f;
    font-family: 'idroid', serif;
    font-size: 1.2;
}

h3 {
    margin: 10px;
    background-color: #06a058;
    color:#ffffff; 
    padding: 15px 15px;
    font-size: 1.5em;
    border-radius: 10px;
    
}

.bbs {
    color: #06a058;
}

.last {
    background-color: #142e0f;
   padding: 10px;
    color: white;
    text-align: center;
}

.lil {
    font-family: 'idroid', serif;
    color:#142e0f;
    font-size: 1.8em;
    margin: 5px;
    text-align: center;
}

section > h2 {
    font-size: 1.2em;
}

article > h3 {
    font-size: 1.2em;
}

.b {
    color:#142e0f;
    text-decoration: underline;
}
    
    


